@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Space+Mono:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background:#EFEEEB;
    --primary-color: #0978A6;
    --secondary-color: #FB9447;
    --danger-color: #DD3445;
    --text-primary-color:#1F1E1A;
    --text-secondary-color:#33322E;
    --gradient: linear-gradient(180deg, rgba(9,120,166,1) 15%, rgba(251,148,71,1) 83%);
    --font-sans: 'Roboto', sans-serif;
    --font-serif: 'Space Mono', monospace;
}

/* GLOBAL */
body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(251, 148, 71, 0.5);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #0978A6;
    /* outline: 1px solid ; */
  }
body {
    background: url('./assets/so-white.png');
    background-size: 1000px 1000px;
    /* background-repeat: no-repeat; */
    font-family: var(--font-sans);
    /* display: flex; */
    /* flex-direction: column; */
}


a {
    text-decoration: none;
    color: var(--text-primary-color)
}

button {
    width: fit-content;
    height: 2.5rem;
    border: none;
    border-radius: 5%;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 700;
    padding: 0 1.5rem;
}

button.btn-primary {
    background-color: var(--primary-color);
}

button.btn-secondary {
    background-color: var(--secondary-color);
}

button:hover{
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transform: scale(1.1);
}

.form>div>span {
    display: block;
    margin: 0 0 2px;
    padding: 5px 20px;
    color: #731D24;
    background-color: #F9D6DA; 
    text-align:center;
    font-size: 13px;
    font-weight: 700;
    width: max-content;
    border: 1px solid rgba(115, 29, 36, 0.3);
    border-radius: 5px;
    position: absolute;
    top: -20px;
}

/* CUSTOM */

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlight:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    background-color: var(--secondary-color);
    height: 3px;
    width: fit-content;
}

.serif {
    font-family: var(--font-serif);
}
.sans {
    font-family: var(--font-sans);
}
.primary {
    color: var(--primary-color);
}
.secondary {
    color: var(--secondary-color);
}
.gradient {
    background-image: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    letter-spacing: 1.5px;
}

.gradient-bg {
    background-image: var(--gradient);
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* font-weight: 900; */
    /* letter-spacing: 1.5px; */
}
.btn-danger {
    background-color: var(--danger-color)
}

/* HOME PAGE */

nav {
    width: 85%;
    margin: 0 auto;
    height: 130px;
}

nav>div:nth-child(1){
    width: 420px;
}

nav>div:nth-child(2){
    width: 200px;
    margin-top: 80px;
    line-height: 60px;
}

nav>div>div:nth-child(2){
    margin-top: 80px;
    width: 210px;
    font-size: 21px;
    line-height: 60px;
}

nav img {
    width: 130px;
    height: 130px;
}

.hero-illustration img {
    width: 300px;
    height: 300px;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    margin-top: 30px;
    height: 447px;
}
.hero>div{
    padding: 3em 2em;
    margin: auto;
    width: 85%;
}
.hero>div>span:nth-child(1){
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
}
.hero>div>span:nth-child(2){
    display: block;
    font-size: 40px;
    font-weight: 700;
}
.hero-content div{
    padding: 0.5em 0 0;
    text-align: center;
}

.pros {
    height: 650px;
}
.pros>span{
    display: block;
    font-size: 37px;
    font-weight: 700;
    padding: 1em 0;
    text-align: center;
    letter-spacing: 1.5px;
}
.pros>div{
    margin: 20px auto;
    width: 85%;
    height: 110px;
}
.pros img{
    width: 120px;
    height: 100px;
    padding: 0 10px;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
h4{
    font-size: 19px;
    font-weight: 500;
}
p{
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 22px;
}

.footer{
    background-color: var(--text-secondary-color);
    height: 50px;
    text-align: center;
    margin-top: auto;
    
    width: 100%;
    /* position: fixed; */
    /* bottom: 0px; */
}
.footer span{
    display: block;
    
}

.footer span:nth-child(1){
    font-size: 17px;
    padding-top: 7px;
}
.footer span:nth-child(2){
    font-size: 10px;
    color: whitesmoke;
}

/* SIGN UP */
.hero p {
    font-size: 12px;
    font-family: serif;
}

h3 {
    font-size: 25px;
}

.sign-form-container {
    padding: 20px;
    height:fit-content;
    width: 80%;
    border-radius: 7%;

}

.sign-form-container span {
    padding-top: 1.5em;
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    margin: 0 0 10px;
}

.form {
    display: flex;
    flex-direction: column;
}
.form div {
    padding: 0.5em 0;
    margin-top: 5px;
    position: relative;
    /* border:2px solid green; */
}
.form>div:nth-child(1){
    margin-top: 20px;
}

.btn-sign-container{
    margin-top: 20px ;
}
hr {
    margin: 10px 0;
    border: 0; 
    height: 1px;
    border-radius: 100%;
    background-image: -webkit-linear-gradient(left, #cccccc, #cccccc, #cccccc);
  }
input {
    border: none;
    outline: none;
    height: 2rem;
    width: 100%;
    font-family: var(--font-serif);
    font-weight: bold;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 3px;
}

#btn-sign{
    background-color: var(--primary-color);
    color: whitesmoke;
    width: 100%;
    height: 2.3rem;
    box-shadow: 2px 2px 10px 3px rgba(9,120,166,0.5);
}

#btn-sign:hover {
    box-shadow: 8px 8px 10px 3px rgba(9,120,166,0.5);
}

.about-us {
    width: 99.99%;
    height: 100%;
    margin: 30px auto;
    background-color: white;
    padding: 50px 100px;
}

.about-us p {
    margin-top: 10px;
    padding: 10px 0;
    padding-right: 40px;
}